body {
    margin: 0;
    border: 0;
}

h1 {
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight:bold;
    color: brown;

}

.container {
    margin: 100px;
    border: 2px solid rgb(244, 224, 203) ;
    border-radius: 15px;
    background-color: rgb(248, 237, 225);
}

.main-cartoon {
    margin: 25px;
    border: 2px solid rgb(216, 192, 166) ;
    border-radius: 15px;
    background-color: rgb(204, 185, 165);
    padding-left: 80px;
    padding-right: 80px;

    display: flex;
    flex-direction: row;
}

.elemento-cartoon {
    margin: 25px;
    border: 1px solid rgb(239, 200, 160);

}

.tom-cartoon {
    width: 340px;
    height: 260px;
    border-radius: 15px;
}

.form-cartoon {

    padding-top: 90px;
    padding-left: 10px;    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.box-cartoon {
    width: 330px;
    height: 26px;

    font-size: 14px;
    border: 1px solid rgb(94, 94, 89) ;
    border-radius: 5px;
    background-color: beige;
    
}

.botao-cartoon {
    width: 165px;
    height: 24px;
    color: rgb(52, 52, 49);
    background-color: rgb(247, 240, 229);
    border-radius: 5px;
    border: 1px solid rgb(94, 94, 89) ;
}